[package]
name = "building-blocks"
version = "0.4.3"
edition = "2018"
authors = ["Duncan <bonsairobo@gmail.com>"]
description = "Data types, collections, and algorithms for working with maps on 2D and 3D integer lattices. Commonly known as voxel data."
license = "MIT"
repository = "https://github.com/bonsairobo/building-blocks"
keywords = ["voxel"]

[package.metadata.docs.rs]
features = ["dot_vox", "glam", "image", "lz4", "mesh", "mint", "nalgebra", "ncollide", "procgen", "search"]

[features]
# All features (except "snappy") are default because we want them to be easily discoverable on docs.rs. You can define your own
# list of features by disabling the defaults with "default-features = false".
#
# "snappy" is excluded because there are useful type aliases that rely on the compression backends being mutually exclusive.
default = ["dot_vox", "glam", "image", "lz4", "mesh", "mint", "nalgebra", "ncollide", "procgen", "sdfu", "search"]

# Optional crates.
mesh = ["building_blocks_mesh"]
procgen = ["building_blocks_procgen"]
search = ["building_blocks_search"]

# Integrations.
dot_vox = ["building_blocks_storage/dot_vox"]
image = ["building_blocks_storage/image"]
sdfu = ["building_blocks_core/sdfu"]

# Math type conversions.
glam = ["building_blocks_core/glam"]
mint = ["building_blocks_core/mint"]
nalgebra = ["building_blocks_core/nalgebra"]

# Compression backends.
lz4 = ["building_blocks_storage/lz4"]
snappy = ["building_blocks_storage/snap"]

# Collisions with `OctreeSet` and `OctreeDBVT`.
ncollide = ["building_blocks_search/ncollide"]

[workspace]
members = ["crates/*"]
exclude = ["benches"]

[profile.dev]
opt-level = 2

[profile.release]
lto = true

[profile.bench]
lto = true

[dependencies]
building_blocks_core = { path = "crates/building_blocks_core", version = "0.4.3", default-features = false }
building_blocks_storage = { path = "crates/building_blocks_storage", version = "0.4.3", default-features = false }

# Optional, feature-gated
building_blocks_mesh = { path = "crates/building_blocks_mesh", version = "0.4.3", optional = true }
building_blocks_procgen = { path = "crates/building_blocks_procgen", version = "0.4", optional = true }
building_blocks_search = { path = "crates/building_blocks_search", version = "0.4.3", optional = true, default-features = false }

[dev-dependencies]
bevy = "0.4" # for examples
log = "0.4"

[[bin]]
name = "measure_compression_rate"
path = "src/bin/measure_compression_rate.rs"
required-features = ["dot_vox", "lz4", "snappy"]

[[example]]
name = "bevy_meshing"
path = "examples/bevy_meshing/bevy_meshing.rs"
required-features = ["mesh", "sdfu"]

[[example]]
name = "bevy_minimal"
path = "examples/bevy_minimal/bevy_minimal.rs"
required-features = ["mesh", "sdfu"]
