(
    chunk_exponent: 4,
    num_lods: 6,
    detail: 6.0,
    chunks_processed_per_frame_per_core: 40,
    clip_radius: 500.0,
    min_enter_lod: 2,
    world_chunks_extent: ((
        minimum: ((-50, -2, -50)),
        shape: ((100, 4, 100)),
    )),
    noise: (
        freq: 0.25,
        scale: 5.0,
        seed: 666,
        octaves: 6,
    ),
    msaa: None,
    wireframes: false,
)