(
    chunk_exponent: 4,
    num_lods: 5,
    detail: 5.0,
    chunks_processed_per_frame: 100,
    clip_radius: 1500.0,
    detect_enter_lod: 3,
    noise: (
        freq: 0.25,
        scale: 5.0,
        seed: 666,
        octaves: 6,
    ),
    msaa: None,
    lod_colors: false,
    wireframes: false,
)