(
    chunk_exponent: 4,
    num_lods: 6,
    detail: 5.0,
    target_frame_processing_time_us: 16000,
    clip_radius: 1500.0,
    detect_enter_lod: 4,
    noise: (
        freq: 0.25,
        scale: 5.0,
        seed: 666,
        octaves: 6,
    ),
    msaa: None,
    lod_colors: true,
    wireframes: false,
)